<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0/angular.js"></script>
</head>
<body ng-app="app">
	<div ng-controller="Controller">
				<h1>{{ name }}</h1>
	<h3>{{ age }}</h3>	


	<button ng-click="hello()">Saludar</button>	
	</div>
  


  
  <script type="text/javascript" src="app/js/main.js"> </script>
</body>
</html>